<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guxingyuan.mapper.EmpMapper">

    <select id="selectEmp" resultType="com.guxingyuan.pojo.Emp">
        select * from emp where id = #{id}
    </select>

    <insert id="insertEmp">
        INSERT INTO
        `guxingyuan`.`emp`(`username`)
        VALUES (#{userName});
    </insert>

    <update id="updateEmp">
        update Emp
        set username = #{userName}
        where id = #{id}
    </update>

    <delete id="deleteEmp">
        delete from Emp
        where id = #{id}
    </delete>
</mapper>
